.card {
    margin: 16px 8px;
    padding: 16px 16px;
    background-color: #fff;
    border-radius: 8px;
    width: auto;
    min-height: 200px;
    -webkit-box-shadow: 4px 4px 8px -4px rgba(119,119,119,0.75), 0px 0px 4px 0px rgba(68,68,68,0.2);
    -moz-box-shadow: 4px 4px 8px -4px rgba(119,119,119,0.75), 0px 0px 4px 0px rgba(68,68,68,0.2);
    box-shadow: 4px 4px 8px -4px rgba(119,119,119,0.75), 0px 0px 4px 0px rgba(68,68,68,0.2);
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 3fr;
    transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
    transform: scale(1.1, 1.1);
    -webkit-box-shadow: 6px 6px 16px -5px rgba(119,119,119,0.85), 0px 0px 8px 0px rgba(68,68,68,0.3);
    -moz-box-shadow: 6px 6px 16px -5px rgba(119,119,119,0.85), 0px 0px 8px 0px rgba(68,68,68,0.3);
    box-shadow: 6px 6px 16px -5px rgba(119,119,119,0.85), 0px 0px 8px 0px rgba(68,68,68,0.3);
    z-index: 100;
}

.card h3 {
    color: rgba(0,0,0, 0.87);
    margin: 8px;
}

.card p {
    color: rgba(0,0,0, 0.54);
    margin: 8px;
}

@media (max-width: 640px) {
    .card:hover {
        transform: scale(1.05, 1.05);
    }
}